* {
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
}

.image-collection {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.image-wrapper {
    display: inline;
    font-size: 0;
    max-width: 33%;
}

.slideshow-wrapper {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.close-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
}

.slideshow {
    position: fixed;
    max-width: 1200px;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}